* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "nunito";
	src: url("fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
	font-family: "crafty-girls";
	src: url("fonts/Crafty_Girls/CraftyGirls-Regular.ttf");
}

html {
	font-family: "nunito";
}

/* Estilo del menú de navegación */

nav {
	position: fixed;
	width: 100%;
	padding: 5px 0;
	background-color: white; /* Color de fondo del navbar */
	align-content: center;
	z-index: 1000;
}

nav ul {
	list-style-type: none;
	margin: 0 auto; /* Centra el componente horizontalmente */
	display: flex;
	justify-content: center; /* Centra los elementos hijos horizontalmente dentro del componente */
	max-width: 1152px;
	gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: inherit; /* Usa el color del texto heredado */
	display: inline-block; /* Permite establecer un ancho y altura a los enlaces */
	padding: 20px 16px; /* Agrega un espacio interno a los enlaces */
	border-radius: 10px; /* Redondea las esquinas del borde */
}

nav ul li a:hover:not(.link-contacto) {
	color: #000000; /* Cambia el color del texto a negro */
	opacity: 0.5; /* Reduce la opacidad al 50% */
}

nav ul li.contacto {
	border-radius: 10px;
	color: aliceblue;
	background-color: #257670;
}

nav ul li.contacto:hover {
	background-color: #4fc2ba;
}

nav ul .logo img {
	width: 40px;
	height: 40px;
}

nav ul .logo {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}

/* Estilos para el fondo */

.fondo {
	background-image: url("images/LOS\ CACHORROS\ DEL\ ORIENTE.png");
	background-size: cover; /* Cubrir completamente el área */
	background-position: center; /* Centrar la imagen */
}

.contenedor {
	max-width: 1152px;
	margin: 0 auto;
	position: relative;
}

.contendor-titulo {
	padding-top: 15rem;
	max-width: 760px;
	transform: rotate(-20deg);
}

h1 {
	font-family: "crafty-girls";
	text-align: center;
	letter-spacing: -7px;
	font-size: 96px;
	line-height: 1;
	font-weight: lighter;
}
h2 {
	font-size: 36px;
	font-weight: lighter;
}

h2 mark {
	background-color: rgba(255, 255, 255, 75%);
	letter-spacing: -1px;
}

/* CTA Button */

.call-to-action {
	max-width: 1152px;
	display: flex;
	justify-content: end;
	margin: 0 auto;
}

.call-to-action div {
	max-width: 425px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.call-to-action div button {
	width: 100%;
	display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 32px; /* Tamaño de fuente */
    font-family: "nunito";
	font-weight: bold;
	background-color: #ffffff; /* Color de fondo */
    border: none; /* Quita el borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-align: center; /* Alinea el texto al centro */
    text-decoration: none; /* Quita la subrayado del texto */
    transition: background-color 0.3s;
}

.call-to-action div h3 {
	font-size: 36px;
	text-align: end;
}

