* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "nunito";
	src: url("fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
	font-family: "crafty-girls";
	src: url("fonts/Crafty_Girls/CraftyGirls-Regular.ttf");
}

html {
	font-family: "nunito";
}

/* Estilo del menú de navegación */

nav {
	/* position: fixed; */
	width: 100%;
	padding: 5px 0;
	background-color: white;
	align-content: center;
	z-index: 1000;
}

nav ul {
	list-style-type: none;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	max-width: 1152px;
	gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: 20px 16px;
	border-radius: 10px;
}

nav ul li a:hover:not(.link-contacto) {
	color: #000000;
	opacity: 0.5;
}

nav ul li.contacto {
	border-radius: 10px;
	color: aliceblue;
	background-color: #257670;
}

nav ul li.contacto:hover {
	background-color: #4fc2ba;
}

nav ul .logo img {
	width: 40px;
	height: 40px;
}

nav ul .logo {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}

@media screen and (max-width: 425px) {
	nav ul {
		flex-direction: column;
	}
}
